.c-button{

    background-color: var(--green-main);
    border-radius: 4px;
    padding: 7px 30px;

    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    color:var(--white);
    cursor: pointer;
}

.c-button:hover{
    background-color: var(--green-second);
}

.c-button--blue{
    background-color: #2D9CDB;
}

.c-button--blue:hover{
    background-color: #2F80ED;
}

.icon{
    width: 30px;
    height: 30px;
}


/* Componente Search */
.c-buscador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: var(--orange-second);
}

    .c-buscador > .buscador__text{
        color: white;
        font-weight: bold;
        font-size: 1.6rem;
    }

    .c-buscador > .buscador__icon-lupa{
        width: 16px;
        height: 16px;
        background: url("../assets/icon-lupa.svg")center/contain no-repeat;
    }


.c-Product{
    width: 256px;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
    .c-Product__img{
        width: 75%;
        height: 195px;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .c-Product__name{
        width: 80%;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 10px;
    }
    .c-Product__price{
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        color: var(--orange-main);
        margin-bottom: 10px;
    }

.c-carrousel{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #E5E5E5;
}
    .c-carrousel__title{
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 5px;
    }
    .c-carrousel__items{
        display: flex;
        overflow-x: scroll;
        padding: 15px 0;
    }
        .c-carrousel__items::-webkit-scrollbar{
            height: 5px;
        }
        .c-carrousel__items::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
        }


.c-categoria{
    display: flex;
    flex-direction: column;
    padding: 14px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}
    .c-categoria__img{
        width:116px;
        height: 140px;
        object-fit: fill;
    }
    .c-categoria__title{
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }





/* COMPONENTE FORMULARIO */
.formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}

    .formulario__title{
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .formulario__datos{
        margin-top: 10px;
        width: 100%;
    }

        .formulario__input{
            display: flex;
            flex-direction: column;
        }

            .formulario__input > label{
                font-size: 1.4rem;
                font-weight: 400;
            }

            .formulario__input > input{
                outline: none;
                margin-top: 5px;
                border: none;
                border-bottom: solid black 1px;
                padding: 4px;
                width: 100%;
                font-size: 1.4rem;
            }

h2{
    font-weight: 500;
    font-size: 1.6rem;
}











.medio_pago{
    background-color: beige;
    padding: 5px;
    border-radius: 4px;
}
  
