.c-button{
    width: 140px;
    background-color: var(--green-main);
    border-radius: 4px;
    padding: 7px 0;
    

    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    color:var(--white);
    cursor: pointer;
}

.c-button:hover{
    background-color: var(--green-second);
}

.c-button--blue{
    background-color: #2D9CDB;
}

.c-button--blue:hover{
    background-color: #2F80ED;
}

.icon{
    width: 30px;
    height: 30px;
}

.plus{
    background-image: url('../assets/button-plus.svg');
    background-repeat: no-repeat;
    background-position:center;
}

.minus{
    background-image: url('../assets/button-minus.svg');
    background-repeat: no-repeat;
    background-position:center;
}


/* Componente Search */
.c-buscador{
    display: flex;
    align-items: center;
    width: 256px;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: var(--orange-second);
}
.c-buscador--blanco{
    width: 40%;
}
    .buscador__icon-lupa{
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background: url("../assets/icon-lupa.svg")center/contain no-repeat;
    }
    .buscador__text{
        color:white;
        background:var(--orange-second);
        border: none;
        font-weight: normal;
        font-size: 1.6rem;
        width: 80%;
        outline: none;
        padding: 5px;
    }
    .buscador__text::placeholder{
        color: white;
        text-align: center;
    }


.c-Product{
    width: 250px;
    height: 360px;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
    .c-Product__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
        .c-Product__img{
            width: 75%;
            height: 195px;
            border-radius: 4px;
            margin-bottom: 5px;
        }
        .c-Product__name{
            width: 80%;
            font-weight: 400;
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 5px;
        }
        .c-Product__price{
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            color: var(--orange-main);
            margin-bottom: 5px;
        }
    
    .c-Product__buttonPay--hidden{
        display: none;
    }

    .c-Product__buttonUnits{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 140px;
    }
        .c-Product__buttonUnitsText{
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--green-main);
            text-align: center;
        }

    .c-Product__buttonUnits--hidden{
        display: none;
    }
    
.c-carrousel{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
    .c-carrousel__title{
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 5px;
    }
    .c-carrousel__items{
        overflow-x: scroll;
        padding: 15px 5px;
        white-space: nowrap;
    }


.c-categoria{
    display: inline-block;
    padding: 14px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}
    .c-categoria__img{
        width:116px;
        height: 140px;
        object-fit: fill;
    }
    .c-categoria__title{
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
    }
    .c-categoria:last-child{
        margin-right: 0;
    }



/* COMPONENTE FORMULARIO */
.c-formulario{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    padding: 20px 0px 30px 0px;
    align-items: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    max-width:500px
    
}


    .formulario__title{
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 20px;
        
    }

    .formulario__datos{
        margin-top: 10px;
        width: 100%;
    }

    .formulario__input{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

            .formulario__input > label{
                font-size: 1.4rem;
                font-weight: 400;
            }

            .formulario__input > input{
                outline: none;
                margin-top: 5px;
                border: none;
                border-bottom: solid black 1px;
                padding: 4px;
                width: 100%;
                font-size: 1.4rem;
            }

.formulario__buttons{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.formulario__buttons > button{
    padding: 10px 0;
    outline: 0;
    border: none;
}


.c-scroll::-webkit-scrollbar{
    height: 5px;
    width: 10px;
}
.c-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

h2{
    font-weight: 500;
    font-size: 1.6rem;
}

@media (min-width:1000px){
    form{
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    form > .formulario{
        
        width: 50%;
        height: fit-content;
    }
    form > .c-button{
        height: 20%;
        width: 20%;
        margin:15%;
        
    }
    #formulario_card{
       
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    #formulario_card .metodoPago{
        width: 100%;
        
      }
    #formulario_card .formulario__input{
        width: 100%;
      }
   
    
}







